<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Flux RSS</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 style="text-align:center;">Flux RSS</h1>
        <h3>Le flux RSS (Really Simple Syndication) est un format de données utilisé pour publier du contenu mis à jour fréquemment, comme des articles de blog, des nouvelles, des événements, des vidéos, etc. Il permet à des sites web et à des utilisateurs de s'abonner facilement à ce contenu pour le lire sur un autre site ou dans un lecteur de flux RSS.</h3>
        <h3>Le flux RSS est généralement disponible sous forme d'un fichier XML qui contient des informations sur le contenu, telles que le titre, la description, la date de publication et un lien vers l'article complet. Les utilisateurs peuvent s'abonner à un flux RSS en utilisant un agrégateur de flux RSS qui récupère régulièrement les dernières mises à jour du flux et les affiches dans une interface conviviale.</h3>
        <table class="table-striped">
            <!-- En-tête de la table -->
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Date de publication</th>
                    <th>Lien</th>
                    <th>Description</th>
                </tr>
            </thead>
            <!-- Corps de la table -->
            <tbody>
                {% for row in data %}
                    <tr>
                        <td>{{ row.title }}</td>
                        <td>{{ row.pubdate }}</td>
                        <td><a href="{{ row.link }}" target="_blank">{{ row.link }}</a></td>
                        <td>{{ row.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>